@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #e31e24;
  --font-sans: 'Titillium Web', sans-serif;
  --font-serif: 'Titillium Web', sans-serif;
  --animate-slow-zoom: slow-zoom 20s ease-in-out infinite alternate;

  @keyframes slow-zoom {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, .font-serif {
  font-family: var(--font-serif);
}
